/* home.css */

/* Styling untuk logo di navbar */

.navbar .logo {
    height: 80px; /* Sesuaikan ukuran logo sesuai kebutuhan */
    width: auto; /* Mempertahankan rasio aspek */
    margin: 0;
    padding: 0;
}

/* Styling untuk hero section pada home */
#home {
    margin: 0; /* Menghilangkan margin */
    padding: 0; /* Menghilangkan padding */
}

#home .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full height */
    margin: 0; /* Menghilangkan margin */
    padding: 0; /* Menghilangkan padding */
    background: url('/images/image.png') no-repeat center center/cover;
    text-align: center;
    color: #fff;
}

.hero h1, .hero p, .hero .btn {
    margin: 0; /* Menghilangkan margin */
    padding: 1; /* Menghilangkan padding */
}

.hero h1 {
    font-size: 3rem;
    margin: 0;
    animation: fadeInUp 2s ease-out;
}

.hero p {
    font-size: 1.5rem;
    margin: 1rem 0;
    animation: fadeInUp 2.5s ease-out;
}

.btn {
    display: inline-block;
    padding: 1rem 3rem; /* Adjusted padding to make button larger */
    background-color: rgba(140, 141, 85, 0.8); /* Transparent color to blend with background */
    color: #fff;
    text-decoration: none;
    border-radius: 30px; /* Adjusted border radius for a more rounded look */
    animation: fadeIn 2s ease-in;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border: 2px solid #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    font-size: 1rem; /* Adjusted font size */
}

/* New styles for button hover effect */
.btn:hover {
    background-color: rgba(167, 127, 34, 0.8); /* Transparent color to blend with background */
    transform: scale(1.05);
}

/* New styles for button focus effect */
.btn:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}

section {
    padding: 4rem 0;
    animation: fadeIn 1.5s ease-in;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}



#about {
    text-align: center;
}

#about p {
    text-align: justify; /* Justify text */
    margin: 1rem 0;
    color: #666;
    animation: fadeInUp 2.5s ease-out;
}

/* Styling for Promo section with boxes */
#promo {
    text-align: center;
    background-color: #f9f9f9;
    padding: 4rem 0;
    animation: fadeIn 1.5s ease-in;
}

#promo .container {
    max-width: 1200px;
    margin: 1% auto;
}

#promo h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #333;
}

#promo .offers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
}

#promo .offer {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    flex: 1 1 calc(33.333% - 1rem);
    padding: 1rem;
    text-align: left;
    transition: transform 0.3s ease;
}

#promo .offer:hover {
    transform: scale(1.05);
}

#promo .offer img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 1rem;
}

#promo .offer h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #666;
}

#promo .offer p {
    font-size: 1rem;
    color: #333;
    margin-bottom: 1rem;
}



#projects .gallery-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

#projects .gallery-item {
    flex: 1 1 calc(25% - 1rem);
    box-sizing: border-box;
    overflow: hidden;
}

#projects .gallery-item img {
    width: 100%;
    height: auto;
    display: block;
}
